<div id="container">

  <div class="box">
    <%= cl_image_tag(@cocktail.photo, width: 300, height: 300, crop: :fill) %>
  </div>

  <div class="box">
    <h1><%= @cocktail.name %></h1>
    <% @cocktail.ingredients.each do |ingredient| %><br>
    <%= ingredient.name %>
    <% end %>
  </div>

  <div class="box">
   <%= link_to "Back to list", cocktails_path, {class: "btn btn-primary"} %>
 </div>

</div>


